
body {
    direction: rtl;
    font-family: Arial;
  
   /* text-align: left;*/
}



.my-card .card-body{
	padding: 0;
}

.my-card .card-text {
	padding: 17px;
}

.my-card .card-title {
	float: right;
}

.details-page {
	direction: rtl;
	text-align: right;
}


.wrapper{
	direction: rtl;
    text-align: right;

}
.content-wrapper{
	margin-right: 250px;
	width: 1050px;
}
.main-header{
	direction: ltr;
	margin-left: 250px;
	
	
	
}